body {
    text-align: center;
}

ul {
    list-style: none;
}
.flex {
    padding: 20px;
}

.flex div {
    width: 200px;
    height: 300px;
    margin: 10px;
    border: 2px solid #666;
}

.img1 {
    background-image: url(../p1-ref/images/image01.jpg);
    background-size: cover;
    background-position: center center;
}


.img1:hover {
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    background-blend-mode: multiply;
    background-color: rgba(57,57,57,0.5);
    background-image: url(../p1-ref/images/image01.jpg);
    background-size: cover;
    background-position: center center;
}
.img2 {
    background-image: url(../p1-ref/images/image02.jpg);
    background-size: cover;
    background-position: center center;
}


.img2:hover {
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    background-blend-mode: multiply;
    background-color: rgba(57,57,57,0.5);
    background-image: url(../p1-ref/images/image02.jpg);
    background-size: cover;
    background-position: center center;
}

.img3 {
    background-image: url(../p1-ref/images/image03.jpg);
    background-size: cover;
    background-position: center center;
}


.img3:hover {
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    background-blend-mode: multiply;
    background-color: rgba(57,57,57,0.5);
    background-image: url(../p1-ref/images/image03.jpg);
    background-size: cover;
    background-position: center center;
}

.img4 {
    background-image: url(../p1-ref/images/image04.jpg);
    background-size: cover;
    background-position: center center;
}


.img4:hover {
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    background-blend-mode: multiply;
    background-color: rgba(57,57,57,0.5);
    background-image: url(../p1-ref/images/image04.jpg);
    background-size: cover;
    background-position: center center;
}

.img5 {
    background-image: url(../p1-ref/images/image05.jpg);
    background-size: cover;
    background-position: center center;
}


.img5:hover {
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    background-blend-mode: multiply;
    background-color: rgba(57,57,57,0.5);
    background-image: url(../p1-ref/images/image05.jpg);
    background-size: cover;
    background-position: center center;
}

.img6 {
    background-image: url(../p1-ref/images/image06.jpg);
    background-size: cover;
    background-position: center center;
}


.img6:hover {
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    background-blend-mode: multiply;
    background-color: rgba(57,57,57,0.5);
    background-image: url(../p1-ref/images/image06.jpg);
    background-size: cover;
    background-position: center center;
}

.img7 {
    background-image: url(../p1-ref/images/image07.jpg);
    background-size: cover;
    background-position: center center;
}


.img7:hover {
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    background-blend-mode: multiply;
    background-color: rgba(57,57,57,0.5);
    background-image: url(../p1-ref/images/image07.jpg);
    background-size: cover;
    background-position: center center;
}

.img8 {
    background-image: url(../p1-ref/images/image08.jpg);
    background-size: cover;
    background-position: center center;
}


.img8:hover {
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    background-blend-mode: multiply;
    background-color: rgba(57,57,57,0.5);
    background-image: url(../p1-ref/images/image08.jpg);
    background-size: cover;
    background-position: center center;
}

.img9 {
    background-image: url(../p1-ref/images/image09.jpg);
    background-size: cover;
    background-position: center center;
}


.img9:hover {
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    background-blend-mode: multiply;
    background-color: rgba(57,57,57,0.5);
    background-image: url(../p1-ref/images/image09.jpg);
    background-size: cover;
    background-position: center center;
}

.img10 {
    background-image: url(../p1-ref/images/image10.jpg);
    background-size: cover;
    background-position: center center;
}


.img10:hover {
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    background-blend-mode: multiply;
    background-color: rgba(57,57,57,0.5);
    background-image: url(../p1-ref/images/image10.jpg);
    background-size: cover;
    background-position: center center;
}


.img11 {
    background-image: url(../p1-ref/images/image11.jpg);
    background-size: cover;
    background-position: center center;
}


.img11:hover {
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    background-blend-mode: multiply;
    background-color: rgba(57,57,57,0.5);
    background-image: url(../p1-ref/images/image11.jpg);
    background-size: cover;
    background-position: center center;
}

.img12 {
    background-image: url(../p1-ref/images/image12.jpg);
    background-size: cover;
    background-position: center center;
}


.img12:hover {
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    background-blend-mode: multiply;
    background-color: rgba(57,57,57,0.5);
    background-image: url(../p1-ref/images/image12.jpg);
    background-size: cover;
    background-position: center center;
}

div img {
    width: 200px;
    height: 300px;
}



.flex {
    display: flex;
    height: 300px;
    flex-wrap: wrap;
    align-content: stretch; /*預設值*/
    
}